In [5]:
import warnings
import pandas as pd

# Suppress specific warnings
warnings.filterwarnings("ignore", message="Print area cannot be set to Defined name")

excel_file = 'PKPS JAINAPUR complete data.xlsx';

xls = pd.ExcelFile(excel_file)
sheet_names = xls.sheet_names
print(sheet_names);

['Membership Details', 'Land_Details', 'Personal Loan', 'Cash Credit Loan', 'Mortigage Loan', 'MT & LT loan', 'Vehicle Loan', 'FD Loan', 'KCC Loan', 'Saving Deposits', 'Fixed Deposite', 'Recurring Deposit', 'Collateral Details', 'Transaction Details', 'Pigmy Deposits', 'Agent Details']

In [9]:
excel_file = 'PKPS JAINAPUR complete data.xlsx';
all_sheets = pd.read_excel(excel_file, sheet_name=None)

# Creating a DataFrame for each sheet
dataframes = {sheet: pd.DataFrame(data) for sheet, data in all_sheets.items()}

# Displaying the first few rows of each DataFrame
for sheet_name, df in dataframes.items():
    print(f"Sheet: {sheet_name}")
    print(df.head())

Sheet: Membership Details
  CUSTOMER TYPE MEMBER TYPE  ADMISSION NO.       SURNAME MEMBER NAME GENDER  \
0        Member      A-Type              6        BHAKRE    KALLAPPA   Male
1        Member      A-Type              8         PATIL      MARUTI   Male
2        Member      A-Type             10          KHAD       ASHOK   Male
3        Member      A-Type             12  KELAGINAMANI       SANJU   Male
4        Member      A-Type             14     LAXMANGOL     SHANKAR   Male

   SHARE BALANCE                         VILLAGE  LEDGER FOLIO NO.  \
0           3354   AT: JAINAPUR PO: JAINAPUR TQ:               NaN
1            800   AT: JAINAPUR PO: JAINAPUR TQ:               NaN
2           2800  AT: TORANAHALLI PO: TORANAHALL               NaN
3            591   AT: JAINAPUR PO: JAINAPUR TQ:               NaN
4           1229   AT: JAINAPUR PO: JAINAPUR TQ:               NaN

        ADMISSION DATE  ...  SPOUSE NAME ADDRESS  MOBILE NO. AADHAR CARD NO.  \
0           03/09/2007  ...          NaN     NaN  7996162692    516268632164
1  1978-10-27 00:00:00  ...          NaN     NaN         XXX             NaN
2  2006-09-05 00:00:00  ...          NaN     NaN  9008874887    343789006063
3  2021-03-31 00:00:00  ...          NaN     NaN  9611845793             NaN
4  2007-02-12 00:00:00  ...          NaN     NaN         111             NaN

   CASTE    COMMUNITY                          FARMER TYPE DIVIDEND AMOUNT  \
0  Hindu  Other Caste     Marginal Farmers(Up to 2.5 Acre)             NaN
1  Hindu  Other Caste     Marginal Farmers(Up to 2.5 Acre)             NaN
2  Hindu  Other Caste  Small Farmers (Above 2.5 to 5 Acre)             NaN
3  Hindu  Other Caste     Marginal Farmers(Up to 2.5 Acre)             NaN
4  Hindu  Other Caste     Marginal Farmers(Up to 2.5 Acre)             NaN

  THRIFT BALANCE DCCB/SB/OTHER BANK A/C.
0            NaN            3.116101e+15
1            NaN                     NaN
2            NaN                     NaN
3            NaN                     NaN
4            NaN                     NaN

[5 rows x 24 columns]
Sheet: Land_Details
   ADMISSION NO.  SURVEY NUMBER HISSA  ACRA  GUNTA  TITLE DEED NO.  \
0              6            121     1     0      2               2
1              6            126     1     0     11              11
2              6            126     3     0     15              15
3              6            303     2     0      4               4
4              6            299     1     0      8               8

   TOTAL LAND (In Acres)  CULTIVABLE LAND (In Acres)  \
0                  0.050                       0.050
1                  0.275                       0.275
2                  0.375                       0.375
3                  0.100                       0.100
4                  0.200                       0.200

   UNDER CULTIVATION (In Acres)      STATE  ...   SOIL TYPE LAND TYPE  \
0                         0.050  KARNATAKA  ...  Black Soil       Wet
1                         0.275  KARNATAKA  ...  Black Soil       Wet
2                         0.375  KARNATAKA  ...  Black Soil       Wet
3                         0.100  KARNATAKA  ...  Black Soil       Wet
4                         0.200  KARNATAKA  ...  Black Soil       Wet

  IRRIGATION TYPE  LAND OWNERSHIP EAST BOUNDARY WEST BOUNDARY NORTH BOUNDARY  \
0            Bore          Owener             0             0              0
1            Bore          Owener             0             0              0
2            Bore          Owener             0             0              0
3            Bore          Owener             0             0              0
4            Bore          Owener             0             0              0

  SOUTH BOUNDARY  LAND VALUE (Per Acre)  DECLARED LAND (In Acres)
0              0                 900000                   45000.0
1              0                 900000                  247500.0
2              0                 900000                  337500.0
3              0                 900000                   90000.0
4              0                 900000                  180000.0

[5 rows x 24 columns]
Sheet: Personal Loan
   ADMISSION NO. LOAN TYPE   PRODUCT  LOAN NO. CROP / PURPOSE  \
0           1865    Others  BDP LOAN         1      SUGER CAN
1            640    Others  BDP LOAN         2      SUGER CAN
2           2092    Others  BDP LOAN         3      SUGER CAN
3           1206    Others  BDP LOAN         4      SUGER CAN
4            675    Others  BDP LOAN         5      SUGER CAN

   LEDGER FOLIO NO.  SCHEME SANCTION DATE  SANCTION AMOUNT  \
0                84  NORMAL    2020-06-02            40000
1                84  NORMAL    2021-03-31            40000
2                84  NORMAL    2021-11-09             5000
3                84  NORMAL    2021-11-09             5000
4                84  NORMAL    2021-11-09             5000

   Loan Period( In Months)  ... GESTATION PERIOD  FIRST INSTALLMENT DUE DATE  \
0                       12  ...              NaN                         NaN
1                       12  ...              NaN                         NaN
2                       12  ...              NaN                         NaN
3                       12  ...              NaN                         NaN
4                       12  ...              NaN                         NaN

   INSTALLMENT AMOUNT  DPN NO.  LA NO.  LC NO.  LC DATE  DCCB NO.  \
0                 NaN      NaN     NaN     NaN      NaN       NaN
1                 NaN      NaN     NaN     NaN      NaN       NaN
2                 NaN      NaN     NaN     NaN      NaN       NaN
3                 NaN      NaN     NaN     NaN      NaN       NaN
4                 NaN      NaN     NaN     NaN      NaN       NaN

   Outstanding Principal (Rs.)  Outstanding Interest (Rs.)
0                        40000                        4008
1                        40000                        4008
2                         5000                         501
3                         5000                         501
4                         5000                         501

[5 rows x 25 columns]
Sheet: Cash Credit Loan
Empty DataFrame
Columns: [ADMISSION NO., LOAN TYPE, PRODUCT, LOAN NO., CROP / PURPOSE, LEDGER FOLIO NO., SCHEME, SANCTION DATE, SANCTION AMOUNT, Loan Period( In Months), Due Date, ROI, Penal ROI, ROI After Due Date, REPAYMENT MODE, GESTATION PERIOD, FIRST INSTALLMENT DUE DATE, INSTALLMENT AMOUNT, DPN NO., LA NO., LC NO., LC DATE, DCCB NO., Outstanding Principal (Rs.), Outstanding Interest (Rs.)]
Index: []

[0 rows x 25 columns]
Sheet: Mortigage Loan
Empty DataFrame
Columns: [ADMISSION NO., LOAN TYPE, PRODUCT, LOAN NO., CROP / PURPOSE, LEDGER FOLIO NO., SCHEME, SANCTION DATE, SANCTION AMOUNT, Loan Period( In Months), Due Date, ROI, Penal ROI, ROI After Due Date, REPAYMENT MODE, GESTATION PERIOD, FIRST INSTALLMENT DUE DATE, INSTALLMENT AMOUNT, DPN NO., LA NO., LC NO., LC DATE, DCCB NO., Outstanding Principal (Rs.), Outstanding Interest (Rs.)]
Index: []

[0 rows x 25 columns]
Sheet: MT & LT loan
   ADMISSION NO.             LOAN TYPE  PRODUCT  LOAN NO.  CROP / PURPOSE  \
0            480  Term Loans - MT & LT  MT LOAN         1               0
1            337  Term Loans - MT & LT  MT LOAN         2               0
2           1947  Term Loans - MT & LT  MT LOAN         3               0
3           1710  Term Loans - MT & LT  MT LOAN         4               0

   LEDGER FOLIO NO.  SCHEME SANCTION DATE  SANCTION AMOUNT  \
0                83  NORMAL    2020-10-09           252000
1                83  NORMAL    2022-08-19           870000
2                83  NORMAL    2022-09-04           720000
3                83  NORMAL    2023-01-20           625000

  Loan Period( In Months)  ... GESTATION PERIOD  FIRST INSTALLMENT DUE DATE  \
0                60MONTHS  ...              NaN                         NaN
1                60MONTHS  ...              NaN                         NaN
2                60MONTHS  ...              NaN                         NaN
3                60MONTHS  ...              NaN                         NaN

   INSTALLMENT AMOUNT  DPN NO.  LA NO.  LC NO.  LC DATE  DCCB NO.  \
0                 NaN      NaN     NaN     NaN      NaN       NaN
1                 NaN      NaN     NaN     NaN      NaN       NaN
2                 NaN      NaN     NaN     NaN      NaN       NaN
3                 NaN      NaN     NaN     NaN      NaN       NaN

   Outstanding Principal (Rs.)  Outstanding Interest (Rs.)
0                       252000                        7560
1                       870000                       26100
2                       720000                       21600
3                       625000                       18750

[4 rows x 25 columns]
Sheet: Vehicle Loan
Empty DataFrame
Columns: [ADMISSION NO., LOAN TYPE, PRODUCT, LOAN NO., CROP / PURPOSE, LEDGER FOLIO NO., SCHEME, SANCTION DATE, SANCTION AMOUNT, Loan Period( In Months), Due Date, ROI, Penal ROI, ROI After Due Date, REPAYMENT MODE, GESTATION PERIOD, FIRST INSTALLMENT DUE DATE, INSTALLMENT AMOUNT, DPN NO., LA NO., LC NO., LC DATE, DCCB NO., Outstanding Principal (Rs.), Outstanding Interest (Rs.)]
Index: []

[0 rows x 25 columns]
Sheet: FD Loan
Empty DataFrame
Columns: [ADMISSION NO., LOAN TYPE, PRODUCT, LOAN NO., CROP / PURPOSE, LEDGER FOLIO NO., SCHEME, SANCTION DATE, SANCTION AMOUNT, Loan Period( In Months), Due Date, ROI, Penal ROI, ROI After Due Date, REPAYMENT MODE, GESTATION PERIOD, FIRST INSTALLMENT DUE DATE, INSTALLMENT AMOUNT, DPN NO., LA NO., LC NO., LC DATE, DCCB NO., Outstanding Principal (Rs.), Outstanding Interest (Rs.)]
Index: []

[0 rows x 25 columns]
Sheet: KCC Loan
   ADMISSION NO.              LOAN TYPE PRODUCT  LOAN NO. CROP / PURPOSE  \
0          329.0  SHORT TERM-CROP LOANS  KCCBFR       4.0      SUGER CAN
1           89.0  SHORT TERM-CROP LOANS  KCCBFR       1.0      SUGER CAN
2          576.0  SHORT TERM-CROP LOANS  KCCBFR       2.0      SUGER CAN
3           98.0  SHORT TERM-CROP LOANS  KCCBFR       5.0      SUGER CAN
4         1582.0  SHORT TERM-CROP LOANS  KCCBFR       6.0      SUGER CAN

   LEDGER FOLIO NO.  SCHEME SANCTION DATE  SANCTION AMOUNT  \
0              82.0  NORMAL    2023-04-15          60000.0
1              82.0  NORMAL    2023-04-15         130000.0
2              82.0  NORMAL    2023-04-15         150000.0
3              82.0  NORMAL    2023-04-15          35000.0
4              82.0  NORMAL    2023-05-22          30000.0

   Loan Period( In Months)  ... GESTATION PERIOD  FIRST INSTALLMENT DUE DATE  \
0                     12.0  ...              NaN                         NaN
1                     12.0  ...              NaN                         NaN
2                     12.0  ...              NaN                         NaN
3                     12.0  ...              NaN                         NaN
4                     12.0  ...              NaN                         NaN

   INSTALLMENT AMOUNT  DPN NO.  LA NO.  LC NO.  LC DATE  DCCB NO.  \
0                 NaN      NaN     NaN     NaN      NaN       NaN
1                 NaN      NaN     NaN     NaN      NaN       NaN
2                 NaN      NaN     NaN     NaN      NaN       NaN
3                 NaN      NaN     NaN     NaN      NaN       NaN
4                 NaN      NaN     NaN     NaN      NaN       NaN

   Outstanding Principal (Rs.)  Outstanding Interest (Rs.)
0                      60000.0                         NaN
1                     130000.0                         NaN
2                     150000.0                         NaN
3                      35000.0                         NaN
4                      30000.0                         NaN

[5 rows x 25 columns]
Sheet: Saving Deposits
   ADMISSION NO. PRODUCT  ACCOUNT NO. DEPOSIT DATE  BALANCE  LEDGER FOLIO NO.  \
0           1948  SB A/C            1   19/04/2021    476.8               NaN

   CHEQUE  OPERATION TYPE  IS ORGANIZATION  REGISTER SERIAL NO.  \
0     NaN             NaN              NaN                  NaN

   IS ACCOUNT DORMAT
0                NaN
Sheet: Fixed Deposite
Empty DataFrame
Columns: [ADMISSION NO., PRODUCT, DEPOSIT TYPE, ACCOUNT NO., OPERATION TYPE, DEPOSIT DATE, DEPOSIT AMOUNT, INTEREST/INSTALLMENT MODE, TERM (IN DAYS), TERM (IN MONTHS), RATE OF INTEREST, INTEREST AMOUNT, MATURITY AMOUNT, MATURITY DATE, LEDGER FOLIO NO., INSTALLMENTS PAID, TOTAL INSTALLMENT AMOUNT PAID, INTEREST PAYABLE REQUIRED, TOTAL INTEREST AMOUNT, LAST INTEREST POSTING DATE, In interest add to Deposit?, Last Paid Instalment Date*]
Index: []

[0 rows x 22 columns]
Sheet: Recurring Deposit
Empty DataFrame
Columns: [ADMISSION NO., PRODUCT, DEPOSIT TYPE, ACCOUNT NO., OPERATION TYPE, DEPOSIT DATE, DEPOSIT AMOUNT, INTEREST/INSTALLMENT MODE, TERM (IN DAYS), TERM (IN MONTHS), RATE OF INTEREST, INTEREST AMOUNT, MATURITY AMOUNT, MATURITY DATE, LEDGER FOLIO NO., INSTALLMENTS PAID, TOTAL INSTALLMENT AMOUNT PAID, INTEREST PAYABLE REQUIRED, TOTAL INTEREST AMOUNT, LAST INTEREST POSTING DATE, In interest add to Deposit?, Last Paid Instalment Date*]
Index: []

[0 rows x 22 columns]
Sheet: Collateral Details
Empty DataFrame
Columns: [AdmissionNo, LoanType, LoanNo, ProductDescription, CropDescription, OrnamentDescription, OrnamentQuality(InKDM), OrnamentCount, OrnamentGrossWeight(InGm), OrnamentNetWeight(InGm), OrnamentValuePerGram, GoldStockRegistrationDate, GoldStockRegisterNo, NoOfBags, AppraiserName, AppraisalDate]
Index: []
Sheet: Transaction Details
   AdmissionNo LoanTypeDesc  ProductDesc  LoanNo TransactionDate  \
0          NaN          NaN          NaN     NaN             NaT
1          NaN          NaN          NaN     NaN             NaT
2          NaN          NaN          NaN     NaN             NaT
3          NaN          NaN          NaN     NaN             NaT
4          NaN          NaN          NaN     NaN             NaT

   LedgerFolioNo  CollectedPrincipal  CollectedInterest  BalancePrincipal  \
0            NaN                 NaN                NaN               NaN
1            NaN                 NaN                NaN               NaN
2            NaN                 NaN                NaN               NaN
3            NaN                 NaN                NaN               NaN
4            NaN                 NaN                NaN               NaN

   remarks  BalanceInterest  CollectedPenalInterest  CollectedOthers  \
0      NaN              NaN                     NaN              NaN
1      NaN              NaN                     NaN              NaN
2      NaN              NaN                     NaN              NaN
3      NaN              NaN                     NaN              NaN
4      NaN              NaN                     NaN              NaN

   BalancePenalInterest  Charges
0                   NaN      NaN
1                   NaN      NaN
2                   NaN      NaN
3                   NaN      NaN
4                   NaN      NaN
Sheet: Pigmy Deposits
Empty DataFrame
Columns: [Admission No, Product, Agent Name, Account No, Deposit Date, Operation Type, Installment Amount, Frequency, Period (In Months), Maturity Date, ROI, Total Amount Collected]
Index: []
Sheet: Agent Details
Empty DataFrame
Columns: [Agent Admission No, Product, Agent No, Agent Registration Date, Agent Type(Business Facilitator/Business Correspondent), Task Type(Enrollment Only/Enrollment and Collections), Product Type for Security]
Index: []